
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif Regular'), local('DroidSerif-Regular'), url(fonts/DroidSerif.woff2) format('woff2');
}

@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url(fonts/Slabo.woff2) format('woff2');
}

body {margin: 0;padding: 0;padding-bottom: 1%;}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: rgb(253,245,230);
}

button {
    background-color: rgba(70,130,180,0.2);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-family: 'Serif';
    font-size: 100%;
}

button:hover {
    opacity: 0.8;
}

.hide {
  display:none;
}

.navactive {
  background-color: rgba(0,0,0,0.2);
}



.rgstbtn {
    width: auto;
    color: black;
    background-color: transparent;
    font-family: 'Serif';
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}



span.psw {
    float: right;
    padding-top: 16px;
}



.srccont {
  background-color: transparent;
  text-align: right;
  width: 30%;
    border: 0;
    border-radius: 25px;
    width: 30%;
    float: right;
    margin: 0 10% 0 0;
    position: relative;
}

input[type=text].srcbar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: rgba(0,0,0,0.5);
}

input[type=text]:focus {width: 100%;}

.brand {
	margin-top: 1%;
	text-align: center;
	font-size: 250%;
	font-family:'Droid Serif', serif; 
	letter-spacing: 10px;
}
.branddesc {
	font-size: 80;
	padding-top: 1%;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	letter-spacing: 3px;
}
.clear {clear: both;}

.Spce {margin-top: 4%;}

.Optbar {
	 overflow: hidden;
	 background-color: rgb(32,178,170);
	 margin: 0 auto;
  	 width: 80%;
	 height: 10%;
	 border-radius: 10px;
}

.Optbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
  width:20%;
  font-family: 'Slabo 27px', serif;
}


.Optbar a:hover {
  background-color: #ddd;
  color: black;
}

.mySlides {display:none; 
  float: left;
  width: 80%;
  margin-left: 10%;
  background-color:transparent;
}

.bestseller1 {display:none; background-color: transparent;}

.bestseller2 {display:none; background-color: transparent;}

.prodPic{
  cursor: pointer;
  float: left;
  width: 23%;
  height: auto;  
  margin-left: .5%;
  margin-right: .5%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: grey;

  overflow: hidden;
  word-wrap: break-word;
    }

  .prodPic img{
    width: 100%;
  }

  .prodPic:hover img{
    width: 101%;
  }



/*
.nearby {
}*/


.nearbySlides {height: 275px;

  border-width: 1px;
  padding-left: 2%;
  display:block; 
  margin-top: 2%;
  background-color: transparent;
}


.logocontainer img, .logocontainer2 img {
	width: 40%;
}
.prevs{
  background-color: ghostwhite;
  cursor: pointer;
  position: absolute;
  top: 70%;
  opacity: 0.4; 
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prevpro{
  background-color: ghostwhite;
  cursor: pointer;
  position: absolute;
  top: 70%;
  opacity: 0.4;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.menorwomen {
  margin-top: 2%;
  width: 100%;
}

.shopMen, .shopWomen {
  margin-top: 2%;
  margin-left: 5%;
}

.nxt{
  margin-left: 77%;
  background-color: ghostwhite;
  cursor: pointer;
  position: absolute;
  top: 70%;
  opacity: 0.4;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.nxtpro{
  margin-left: 69.6%; 
  background-color: ghostwhite;
  cursor: pointer;
  position: absolute;
  top: 70%;
  opacity: 0.4;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prevs:hover, .nxt:hover {
  opacity: 1;
}


.prevs_shirt, .prevs_wshirt{
  background-color: ghostwhite;
  cursor: pointer;
  margin-left: -7%;
  position: absolute;
  top: 70%;
  opacity: 0.4; 
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.nxt_shirt, .nxt_wshirt{
  margin-left: 70%;

  background-color: ghostwhite;
  cursor: pointer;
  position: absolute;
  top: 70%; 
  opacity: 0.4;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: teal;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/*.nxts {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.best1 {
  width: 100%;
  margin-top: 2%;
  margin-left: -10%;
}


.previs:hover, .nxts:hover {
  background-color: rgba(0,0,0,0.8);
}

.nxet {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.best2 {
  width: 100%;
  margin-top: 2%;
}


.prevos:hover, .nxet:hover {
  background-color: rgba(0,0,0,0.8);
}
*/

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  background-color: transparent;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.loginDialog{
  width: 30%;
  height: 50%;
  border-style: solid;
  border-radius: 80px 40px 80px 20px;
  color: lightseagreen;
  float: right;
  margin-top: 5%;
  margin-right: 10%;

}

.RgstrDialog{
  width: 30%;
  height: 100%;  
  border-radius: 80px 40px 80px 20px;
  color: lightseagreen;
  border-style: solid;
  float: right;
  margin-top: 5%;
  margin-right: 10%;
}

.loginhead {
	font-family: 'Slabo 27px';
	font-size: 200%;
	text-align: center;
	font-weight: bold;
	margin-top: 1%;
  letter-spacing: 7.5px;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    color: black;
}

.inputBox {
  background-color:transparent;
  color:black;
  border:0;
  border-bottom:1px solid #fff;
}

.rgstbtn {
    width: auto;
    color: black;
    background-color: transparent;
    font-family: 'Serif';
    color: rgb(253,245,230);
    float: left;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    background-color: transparent;
    font-family: 'Serif';

}

.frgetpswd {
    width: auto;
    color: black;
    background-color: transparent;
    font-family: 'Serif';
    color: rgb(253,245,230);
    float: right;
}


a {
	text-decoration: none;
	color:black;
	font-family: 'Serif';

  cursor: pointer;
}

.men {
    float: left;
    background-color: rgb(32,178,170);
    margin: 2% 0 0 10%;
    font-family: 'Droid Serif', serif;
    border-radius: 10%;
    padding: 1%;
    font-size: 500%;
    color: white;
    width:30%;
    text-align:center;
}

.women {
    float: right;
    background-color: rgb(32,178,170);
    margin: 2% 10% 0 0;
    font-family: 'Droid Serif', serif;
    border-radius: 10%;
    padding: 1%;
    font-size: 500%;
    color: white;
    width:30%;
    text-align:center;
}


.men,.women {
  cursor:pointer;
}

.men:hover,.women:hover {
  background-color:rgba(0,0,0,0.5);
}

.men img, .women img {
  width: 100%;
}

.menclothes {

    font-family: 'Slabo 27px', serif;
    float: right;
    background-color: rgba(32,178,170,0.3);
    margin: 7.5% 10% 0 0;
    font-family: 'Droid Serif', serif;
    border-radius: 10%;
    padding: 1%;
    font-size: 215%;
    color: black;
    width:30%;
    text-align:left;
    padding: 2.5% 5%;
}

.womenclothes {

    font-family: 'Slabo 27px', serif;
    float: left;
    background-color: rgba(32,178,170,0.3);
    margin: 7.5% 0 0 10%;
    font-family: 'Droid Serif', serif;
    border-radius: 10%;
    padding: 1%;
    font-size: 220%;
    color: black;
    width:30%;
    text-align:left;
    padding: 2.5% 5%;
}

.okay {
  font-size: 100%;
  float: left;
  padding-bottom: 1%;
  color: black;
}

.redirect {color:black;}
.redirect:hover {text-decoration: underline;
font-size: 105%;} 
.menclothes a:hover, .womenclothes a:hover {
  font-style: italic;
}

.menclothes a, .womenclothes a {
  color: black;
}

.productmen, .productwomen {
  float: left;
  margin-top: 1%;
  margin-right: 1.033%;
  background-color: rgba(0,0,0,0.2);
  width: 29.03%;
  padding: 1% 0.05%;
  border-radius: 10%;
}

.productBox {
  display:none;
}

#backtomenu {
  color:black;
}

#cartthing h1 {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  margin-top: 3%;
  letter-spacing: 2px;
}

#cartthing {
  float: left;
  width: 80%;
  }

.sample1 {
  float: left;
  margin-right: 2%;
  width: 15%;
  padding: 1%;
  word-wrap:break-word;
}

#btnExtra, #btnExtra1{
  display: none;
}

.addcartha {
  cursor:pointer;
}

.sample1 img {
  width:100%;
}

.sample1:hover {
  background-color: rgba(0,0,0,0.4);
}

.productmen:hover, .productwomen:hover{background-color: rgba(0,0,0,0.5);}

.Intro {
    background-color: transparent;
    float: left;
    width: 60%;
    height: 5%;
    margin: 3% 0 0 7.5%;
    color: black;
    text-align: center;
    font-family: 'Slabo 27px';
    font-size: 200%;
    border-radius: 1%;
  }

.Bla {
    margin-top: -3%;
    padding: 0;
  }

.Blahh {
    margin-top: -2%;
    overflow-y: scroll;
    font-size: 70%;
    height: 400px;
    text-align: justify;
    color: rgba(0,0,0,0.5);
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  .Blahh::-webkit-scrollbar-track
      {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
  }

.logoutopt{
  display: none;
}

  .Blahh::-webkit-scrollbar
      {
    width: 10px;
    background-color: transparent;
  }

  .Blahh::-webkit-scrollbar-thumb
      {
    background-color: transparent;
    border: 2px solid #555555;
  }

.welcome {
  float:left;
  margin:2% 0 0 10%;
  font-family:'Droid Serif';
}

.welcome a {
  color:#000;
}


.resver{
  width: 30%;
}

#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  
}

#priced{
  width: 10%;
  border-style: solid 1px;
  border-color: black;
}

#prodDesc{
  width: 30%;
  border-style: solid 1px;
  border-color: black;
}

#div_prodDiv{
  margin-top: 3%;
  margin-left: 10%;
  font-size: 150%;
  color: teal;
}

#div_prodDiv img{
  float: left;
}

#span_desc{
  font-size: 100%;
}

.addtoCart{
  margin-top: 5%;
  color: white;
  background: #006666;
  position: absolute;
  margin-left: 50%;
  height: 30px;
  width: 150px;
  border-color: red;
  cursor: pointer;
  padding-top: 5px;

    font-family: monospace;
}

#div_Cart{
  border-style: solid;
}

.a_userWelcome:hover{
  color: teal;
}

.a_userWelcome{
  font-size: 20px;
}

#deleteCart{
  position: relative;
  width: 25px;
  float: left;
  margin-left: .5%;
  margin-top: -3%;
  cursor: pointer;
}

#googleIcon{
  width: 75px;
  cursor: pointer; 
}

#menwomenpic{
  width: 100%;
}

.logocontainer2{
  width: 30%;
  float: right;
  margin-top: 10%;
}

.logocontainer img{
  width: 100%;
}

.logocontainer2 img{
  width: 100%;
}
.logocontainer{
  width: 40%;
  margin-top: 10%;
  float: right;
}